@model HotelBooking.Areas.Dashboard.ViewModels.StayTypeListingModels
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        @{ Html.RenderPartial("_Listenig",Model);}
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-12">
      
            <form>
                <div class="input-group">
                   
                        <input type="text" name="serchterm" class="form-control" placeholder="Axtar" value="@Model.SerchTerm" required />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Serach</button>
                            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "StayType")">Reset</a>
                            <button data-href="@Url.Action("Action", "StayType")" class=" data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal">Create</button>
                        </div>
                    
                </div>
            </form>
           
       
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
       
    </div>
</div>
<script>
    $("#createbutton").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "StayType")',

        })
            .done(function (response) {

                $("#actionModal .modal-dialog").html(response);

            })
                           
    });

     $(".data-btn").click(function () {
         $.ajax({
             url: $(this).attr("data-href"),

        })
            .done(function (response) {

                $("#actionModal .modal-dialog").html(response);

            })
                           
    });
</script>